
*{
    margin:0; /*(안)여백 :없음*/
    padding:0; 
}

/* 선택자 { 속성1 : 속성값 1; 
            속성2: 속성값2; 
            계속...    
*/

.logo {
    width: 100px;
    height: 110px;
    margin: 0 auto;
    padding: 50px;
}
    .buger {
        position: absolute;
        top: 100px;
        right: 7%;
        display: none;
    }

.menu{
    background-color: #005891; /*배경 색상*/
    text-align: center;
    padding: 20px 0;
}

a{ 
    color: white;
    margin: 10px;
}
.hero {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding: 30px;
}
.hide{
    display: none; /*화면에 표시안함*/
}

.movie{ /*클래스 movie의 스타일을 결정한다.*/
    width: 600px;
    margin: 0 auto;
    font-size: 0;
}
.movie-title{
    font-size: 22px;
    text-align: center;
    text-transform: uppercase; /*대문자*/
    margin: .2rem 0 1rem 0; /*밖 여백 상하 좌우 0.3 좌우 0* 상->우->하->왼 순서*/
 }

.movie-desc{
    color: #555555;
    font-size: 16px;
    text-align: center;
}
.social{
    text-align: center; /*그림 <--- 텍스트*/
    margin: 2rem 1rem; /*바깥 여백을 상하2배 좌우 기본값*/
    padding: 20px 0;
}
/* .contact{} h2 class = 무비 타이틀과 다른가>? */

#line{
    margin: 3rem 0;/*위,아래 3rem 좌,우 0(=적용X)*/
}
.contact, .location{ /* 왜? <h2 class="movie-title"과 다른가?*/ 
    text-align: center;
}

.location p:nth-child(1){ /*두개의 p중에서 첫번째(자식요소)*/
    margin: 2rem 0;
    font-size: 1.2rem;
}
.location p:nth-child(2){ /*두개의 p중에서 두번째(자식요소)*/
    margin-bottom: 3.5rem;
    font-size: 0.9rem;
}
@media screen and (max-width: 430px){
   .buger{
    display: block ; /* 블록은 보이게 하는것*/
   }
    .menu{
        display: none;
    }
    .hero{
        width: 100%;   /*가로폭 가득 채워서 */
       }
        .hero img{
            width: 100%;   /*가로폭 가득 채워서 */
            object-fit: cover; 
        
            
        }
        .movie 
        {width: 100%;   /*가로폭 가득 채워서 */ 
        }
        .movie img{

         width: 70%;   /*가로폭 가득 채워서 */
        object-fit: cover; 
        margin: 10% 15%;
        }
        .movie img:nth-of-type(2){ /* :nth -child(n) {----done} */
            display: none; /*2번째 이미지는 숨김 ==> 피그마 설계를 반영? */
        }
    }

/* 네이밍 규칙 
케밥케이스
movie _ title => moive -title 
2.카멜 또는 케멀 케이스
moive _title -->movie Title

Pascal case ==> 파스칼
main method --> public  Main으로 쓰는것처럼 */